.vscode
.idea

venv
__pycache__

output/*
!output/.keep

assets/config.json

py310
python
python_blackwell
git
wd14_tagger_model
blackwell-wheels/
lora-rescripts (*)/
lora-rescripts - 副本*/

train/*
logs/*
sd-models/*
toml/autosave/*
config/autosave/*
config/presets/test*.toml

!sd-models/put stable diffusion model here.txt
!logs/.keep

tests/

huggingface/hub/models*
huggingface/hub/version_diffusers_cache.txt
lora-rescripts.zip
